In [105]:
import pandas as pd
import numpy as np
import time
from datetime import datetime

In [106]:
df = pd.read_csv("/Users/arnet/Desktop/Ironhack/GitHub/ironhack_lab_assignments/Day3/lab-customer-analysis-round-2-master/files_for_lab/csv_files/marketing_customer_analysis.csv")

# Shape

In [107]:
df.shape

(10910, 26)

# Standardize header names

In [108]:
df.tail()

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [109]:
# Drop index column and vehicle type column
df = df.drop(['Unnamed: 0', 'Vehicle Type'], axis=1)
df

,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,Income,...,Months Since Policy Inception,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,40,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,68,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,63,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,27,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize
10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,0,...,1,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize

In [110]:
df.columns.to_list()

['Customer',
 'State',
 'Customer Lifetime Value',
 'Response',
 'Coverage',
 'Education',
 'Effective To Date',
 'EmploymentStatus',
 'Gender',
 'Income',
 'Location Code',
 'Marital Status',
 'Monthly Premium Auto',
 'Months Since Last Claim',
 'Months Since Policy Inception',
 'Number of Open Complaints',
 'Number of Policies',
 'Policy Type',
 'Policy',
 'Renew Offer Type',
 'Sales Channel',
 'Total Claim Amount',
 'Vehicle Class',
 'Vehicle Size']

In [111]:
# Rename columns to ensure consistency
df = df.rename(columns={'EmploymentStatus': 'Employment Status'})
df.columns.to_list()

['Customer',
 'State',
 'Customer Lifetime Value',
 'Response',
 'Coverage',
 'Education',
 'Effective To Date',
 'Employment Status',
 'Gender',
 'Income',
 'Location Code',
 'Marital Status',
 'Monthly Premium Auto',
 'Months Since Last Claim',
 'Months Since Policy Inception',
 'Number of Open Complaints',
 'Number of Policies',
 'Policy Type',
 'Policy',
 'Renew Offer Type',
 'Sales Channel',
 'Total Claim Amount',
 'Vehicle Class',
 'Vehicle Size']

In [112]:
def standardise_col(col):
    return col.lower().replace(" ", "_")

standard_heads =[]
for column in df.columns:
    standard_heads.append(standardise_col(column))

df.columns = standard_heads
df.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize

# Categorical and Numerical

In [113]:
df_numerical = df.select_dtypes(np.number)
df_numerical

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,4809.216960,48029,61,7.0,52,0.0,9,292.800000
1,2228.525238,0,64,3.0,26,0.0,1,744.924331
2,14947.917300,22139,100,34.0,31,0.0,2,480.000000
3,22332.439460,49078,97,10.0,3,0.0,2,484.013411
4,9025.067525,23675,117,NaN,31,NaN,7,707.925645
...,...,...,...,...,...,...,...,...
10905,15563.369440,0,253,NaN,40,NaN,7,1214.400000
10906,5259.444853,61146,65,7.0,68,0.0,6,273.018929
10907,23893.304100,39837,201,11.0,63,0.0,2,381.306996
10908,11971.977650,64195,158,0.0,27,4.0,6,618.288849
10909,6857.519928,0,101,31.0,1,0.0,3,1021.719397

In [114]:
#Reset index
df.reset_index(drop=True, inplace=True)

In [115]:
df_categorical = df.drop(columns = df_numerical.columns)
df_categorical
df_categorical = df.select_dtypes(include='object')
df_categorical.columns.to_list()

['customer',
 'state',
 'response',
 'coverage',
 'education',
 'effective_to_date',
 'employment_status',
 'gender',
 'location_code',
 'marital_status',
 'policy_type',
 'policy',
 'renew_offer_type',
 'sales_channel',
 'vehicle_class',
 'vehicle_size']

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       10910 non-null  object
 1   state                          10279 non-null  object
 2   customer_lifetime_value        10910 non-null  float64
 3   response                       10279 non-null  object
 4   coverage                       10910 non-null  object
 5   education                      10910 non-null  object
 6   effective_to_date              10910 non-null  object
 7   employment_status              10910 non-null  object
 8   gender                         10910 non-null  object
 9   income                         10910 non-null  int64
 10  location_code                  10910 non-null  object
 11  marital_status                 10910 non-null  object
 12  monthly_premium_auto           10910 non-null  int64
 13  months_since_last_claim        10277 non-null  float64
 14  months_since_policy_inception  10910 non-null  int64
 15  number_of_open_complaints      10277 non-null  float64
 16  number_of_policies             10910 non-null  int64
 17  policy_type                    10910 non-null  object
 18  policy                         10910 non-null  object
 19  renew_offer_type               10910 non-null  object
 20  sales_channel                  10910 non-null  object
 21  total_claim_amount             10910 non-null  float64
 22  vehicle_class                  10288 non-null  object
 23  vehicle_size                   10288 non-null  object
dtypes: float64(4), int64(4), object(16)
memory usage: 2.0+ MB

# Null values

In [117]:
nulls_df= pd.DataFrame(round(df.isna().sum()/len(df), 4)*100)
nulls_df

                                  0
customer                       0.00
state                          5.78
customer_lifetime_value        0.00
response                       5.78
coverage                       0.00
education                      0.00
effective_to_date              0.00
employment_status              0.00
gender                         0.00
income                         0.00
location_code                  0.00
marital_status                 0.00
monthly_premium_auto           0.00
months_since_last_claim        5.80
months_since_policy_inception  0.00
number_of_open_complaints      5.80
number_of_policies             0.00
policy_type                    0.00
policy                         0.00
renew_offer_type               0.00
sales_channel                  0.00
total_claim_amount             0.00
vehicle_class                  5.70
vehicle_size                   5.70

In [119]:
# Replace all Null Values in categorical columns with 'Unknown'
for column in df_categorical.columns:
    df[column]= df[column].fillna('Unknown')
df

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,52,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,26,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,31,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,3,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,31,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,40,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,68,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,63,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,27,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize
10909,IV32877,Unknown,6857.519928,Unknown,Basic,Bachelor,1/8/11,Unemployed,M,0,...,1,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize

In [123]:
# Replace all Null Values in numerical columns with mean
for column in df_numerical.columns:
    df[column]= df[column].fillna(df[column].mean())
df

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employment_status,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,48029,...,52,0.000000,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize
1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,0,...,26,0.000000,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,31,0.000000,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize
3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,3,0.000000,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,23675,...,31,0.384256,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,0,...,40,0.384256,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize
10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,68,0.000000,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,39837,...,63,0.000000,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize
10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,27,4.000000,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize
10909,IV32877,Unknown,6857.519928,Unknown,Basic,Bachelor,1/8/11,Unemployed,M,0,...,1,0.000000,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10910 entries, 0 to 10909
Data columns (total 24 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   customer                       10910 non-null  object
 1   state                          10910 non-null  object
 2   customer_lifetime_value        10910 non-null  float64
 3   response                       10910 non-null  object
 4   coverage                       10910 non-null  object
 5   education                      10910 non-null  object
 6   effective_to_date              10910 non-null  object
 7   employment_status              10910 non-null  object
 8   gender                         10910 non-null  object
 9   income                         10910 non-null  int64
 10  location_code                  10910 non-null  object
 11  marital_status                 10910 non-null  object
 12  monthly_premium_auto           10910 non-null  int64
 13  months_since_last_claim        10910 non-null  float64
 14  months_since_policy_inception  10910 non-null  int64
 15  number_of_open_complaints      10910 non-null  float64
 16  number_of_policies             10910 non-null  int64
 17  policy_type                    10910 non-null  object
 18  policy                         10910 non-null  object
 19  renew_offer_type               10910 non-null  object
 20  sales_channel                  10910 non-null  object
 21  total_claim_amount             10910 non-null  float64
 22  vehicle_class                  10910 non-null  object
 23  vehicle_size                   10910 non-null  object
dtypes: float64(4), int64(4), object(16)
memory usage: 2.0+ MB

# Datetime Format

In [ ]:
# Change date to date/time format
df['effective_to_date']=pd.to_datetime(df['effective_to_date'], errors='coerce')
df.info()

In [ ]:
df.head()

In [ ]:
# Extract month and save in a different column
df['month']= pd.DatetimeIndex(df['effective_to_date']).month
df.info()

In [ ]:
df.shape

In [126]:
print(nulls_df)

                                  0
customer                       0.00
state                          5.78
customer_lifetime_value        0.00
response                       5.78
coverage                       0.00
education                      0.00
effective_to_date              0.00
employment_status              0.00
gender                         0.00
income                         0.00
location_code                  0.00
marital_status                 0.00
monthly_premium_auto           0.00
months_since_last_claim        5.80
months_since_policy_inception  0.00
number_of_open_complaints      5.80
number_of_policies             0.00
policy_type                    0.00
policy                         0.00
renew_offer_type               0.00
sales_channel                  0.00
total_claim_amount             0.00
vehicle_class                  5.70
vehicle_size                   5.70

# Set Filter

In [ ]:
df = df.query('month<3')
df

# Bonus

In [136]:
def standardise_col(col):
    return col.lower().replace(" ", "_")

def clean_data(df):
    #Drop columns
    df = df.drop(['Unnamed: 0', 'Vehicle Type'], axis=1)
    
    #Rename columns
    df = df.rename(columns={'EmploymentStatus': 'Employment Status'})
    
    # Standardise column names
    standard_heads =[]
    for column in df.columns:
        standard_heads.append(column.lower().replace(" ", "_"))
    df.columns = standard_heads
    
    #Create nulls dataframe
    nulls_df= pd.DataFrame(round(df.isna().sum()/len(df), 4)*100)
    print("Overview of Null Values before clean: ")
    print(nulls_df)
    
    # Identify categorical and numerical columns
    df_numerical = df.select_dtypes(np.number)
    df_categorical = df.select_dtypes(include='object')
    
    # Replace all Null Values in categorical columns with 'Unknown'
    for column in df_categorical.columns:
        df[column]= df[column].fillna('Unknown')
    
    # Replace all Null Values in numerical columns with mean
    for column in df_numerical.columns:
        df[column]= df[column].fillna(df[column].mean())
    
    #Change date to date/time format
    df['effective_to_date']=pd.to_datetime(df['effective_to_date'], errors='coerce')
    
    # Extract month and save in a different column
    df['month']= pd.DatetimeIndex(df['effective_to_date']).month
    
    # Create filtered data out data that is not in the first quarter
    df = df.query('month<3')
    
    print('')
    print("Overview of Null Values after clean: ")
    nulls_df= pd.DataFrame(round(df.isna().sum()/len(df), 4)*100)
    print(nulls_df)
    print(df)

df = pd.read_csv("/Users/arnet/Desktop/Ironhack/GitHub/ironhack_lab_assignments/Day3/lab-customer-analysis-round-2-master/files_for_lab/csv_files/marketing_customer_analysis.csv")
clean_data(df)

Overview of Null Values before clean:
                                  0
customer                       0.00
state                          5.78
customer_lifetime_value        0.00
response                       5.78
coverage                       0.00
education                      0.00
effective_to_date              0.00
employment_status              0.00
gender                         0.00
income                         0.00
location_code                  0.00
marital_status                 0.00
monthly_premium_auto           0.00
months_since_last_claim        5.80
months_since_policy_inception  0.00
number_of_open_complaints      5.80
number_of_policies             0.00
policy_type                    0.00
policy                         0.00
renew_offer_type               0.00
sales_channel                  0.00
total_claim_amount             0.00
vehicle_class                  5.70
vehicle_size                   5.70

Overview of Null Values after clean:
                                 0
customer                       0.0
state                          0.0
customer_lifetime_value        0.0
response                       0.0
coverage                       0.0
education                      0.0
effective_to_date              0.0
employment_status              0.0
gender                         0.0
income                         0.0
location_code                  0.0
marital_status                 0.0
monthly_premium_auto           0.0
months_since_last_claim        0.0
months_since_policy_inception  0.0
number_of_open_complaints      0.0
number_of_policies             0.0
policy_type                    0.0
policy                         0.0
renew_offer_type               0.0
sales_channel                  0.0
total_claim_amount             0.0
vehicle_class                  0.0
vehicle_size                   0.0
month                          0.0
      customer       state  customer_lifetime_value response  coverage  \
0      DK49336     Arizona              4809.216960       No     Basic
1      KX64629  California              2228.525238       No     Basic
2      LZ68649  Washington             14947.917300       No     Basic
3      XL78013      Oregon             22332.439460      Yes  Extended
4      QA50777      Oregon              9025.067525       No   Premium
...        ...         ...                      ...      ...       ...
10905  FE99816      Nevada             15563.369440       No   Premium
10906  KX53892      Oregon              5259.444853       No     Basic
10907  TL39050     Arizona             23893.304100       No  Extended
10908  WA60547  California             11971.977650       No   Premium
10909  IV32877     Unknown              6857.519928  Unknown     Basic

      education effective_to_date employment_status gender  income  ...  \
0       College        2011-02-18          Employed      M   48029  ...
1       College        2011-01-18        Unemployed      F       0  ...
2      Bachelor        2011-02-10          Employed      M   22139  ...
3       College        2011-01-11          Employed      M   49078  ...
4      Bachelor        2011-01-17     Medical Leave      F   23675  ...
...         ...               ...               ...    ...     ...  ...
10905  Bachelor        2011-01-19        Unemployed      F       0  ...
10906   College        2011-01-06          Employed      F   61146  ...
10907  Bachelor        2011-02-06          Employed      F   39837  ...
10908   College        2011-02-13          Employed      F   64195  ...
10909  Bachelor        2011-01-08        Unemployed      M       0  ...

      number_of_open_complaints number_of_policies     policy_type  \
0                      0.000000                  9  Corporate Auto
1                      0.000000                  1   Personal Auto
2                      0.000000                  2   Personal Auto
3                      0.000000                  2  Corporate Auto
4                      0.384256                  7   Personal Auto
...                         ...                ...             ...
10905                  0.384256                  7   Personal Auto
10906                  0.000000                  6   Personal Auto
10907                  0.000000                  2  Corporate Auto
10908                  4.000000                  6   Personal Auto
10909                  0.000000                  3   Personal Auto

             policy  renew_offer_type  sales_channel  total_claim_amount  \
0      Corporate L3            Offer3          Agent          292.800000
1       Personal L3            Offer4    Call Center          744.924331
2       Personal L3            Offer3    Call Center          480.000000
3      Corporate L3            Offer2         Branch          484.013411
4       Personal L2            Offer1         Branch          707.925645
...             ...               ...            ...                 ...
10905   Personal L1            Offer3            Web         1214.400000
10906   Personal L3            Offer2         Branch          273.018929
10907  Corporate L3            Offer1            Web          381.306996
10908   Personal L1            Offer1         Branch          618.288849
10909   Personal L1            Offer4            Web         1021.719397

       vehicle_class vehicle_size month
0      Four-Door Car      Medsize     2
1      Four-Door Car      Medsize     1
2                SUV      Medsize     2
3      Four-Door Car      Medsize     1
4      Four-Door Car      Medsize     1
...              ...          ...   ...
10905     Luxury Car      Medsize     1
10906  Four-Door Car      Medsize     1
10907     Luxury SUV      Medsize     2
10908            SUV      Medsize     2
10909            SUV      Medsize     1

[10910 rows x 25 columns]