# First Project - Working with Messy Data

Questions to answer

Importing the necesary packages

In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import warnings 
%matplotlib inline
warnings.filterwarnings('ignore')
from sklearn import linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from pandas.plotting import scatter_matrix
from sklearn.preprocessing import Normalizer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn import preprocessing

Reading file

In [2]:
data=pd.read_csv('alldata.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6964 entries, 0 to 6963
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     6953 non-null   object
 1   company      6953 non-null   object
 2   description  6953 non-null   object
 3   reviews      5326 non-null   float64
 4   location     6953 non-null   object
dtypes: float64(1), object(4)
memory usage: 272.2+ KB

Drop unnecesary column

In [4]:
data=data.drop(['reviews'], axis=1)

In [5]:
data.head()

,position,company,description,location
0,Development Director,ALS TDI,Development Director\nALS Therapy Development ...,"Atlanta, GA 30301"
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"Job Description\n\n""The road that leads to acc...","Atlanta, GA"
2,Data Scientist,Xpert Staffing,"Growing company located in the Atlanta, GA are...","Atlanta, GA"
3,Data Analyst,Operation HOPE,DEPARTMENT: Program OperationsPOSITION LOCATIO...,"Atlanta, GA 30303"
4,Assistant Professor -TT - Signal Processing & ...,Emory University,DESCRIPTION\nThe Emory University Department o...,"Atlanta, GA"

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6964 entries, 0 to 6963
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   position     6953 non-null   object
 1   company      6953 non-null   object
 2   description  6953 non-null   object
 3   location     6953 non-null   object
dtypes: object(4)
memory usage: 217.8+ KB

In [7]:
# lowercase descriptions
data['description'] = data['description'].astype(str).str.lower()

In [8]:
# list of softskill keywords
def countkeywords(keyword):
    num = [str(row).lower().count(keyword) for row in data['description']]
    return keyword,sum(num)

In [9]:
keywords = []

In [10]:
keywords.append(countkeywords('communication skills'))

In [11]:
keywords.append(countkeywords('interpersonal skills'))

In [12]:
keywords.append(countkeywords('teamwork'))

In [13]:
keywords.append(countkeywords('curiosity'))

In [14]:
keywords.append(countkeywords('business acumen'))

In [15]:
keywords.append(countkeywords('attention to detail'))

In [16]:
keywords.append(countkeywords('research'))

In [17]:
keywords.append(countkeywords('problem solving'))

In [18]:
keywords.append(countkeywords('adaptabily'))

In [19]:
keywords.append(countkeywords('stress management'))

In [20]:
keywords.append(countkeywords('time management'))

In [21]:
keywords.append(countkeywords('critical thinking'))

In [22]:
keywords.append(countkeywords('decision making'))

In [23]:
keywords.append(countkeywords('design thinking'))

In [24]:
keywords

[('communication skills', 2922),
 ('interpersonal skills', 623),
 ('teamwork', 309),
 ('curiosity', 356),
 ('business acumen', 166),
 ('attention to detail', 880),
 ('research', 16170),
 ('problem solving', 921),
 ('adaptabily', 0),
 ('stress management', 10),
 ('time management', 214),
 ('critical thinking', 228),
 ('decision making', 452),
 ('design thinking', 60)]

adding them to the dataframe

In [25]:
softskills = ['communication skills', 
              'problem solving', 
              'attention to detail', 
              'interpersonal skills', 
              'decision making', 
              'teamwork']
for i in softskills:
    data[i] = data['description'].str.contains(i, regex=False)

In [26]:
data

,position,company,description,location,communication skills,problem solving,attention to detail,interpersonal skills,decision making,teamwork
0,Development Director,ALS TDI,development director\nals therapy development ...,"Atlanta, GA 30301",False,False,False,False,False,False
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"job description\n\n""the road that leads to acc...","Atlanta, GA",True,False,False,True,False,False
2,Data Scientist,Xpert Staffing,"growing company located in the atlanta, ga are...","Atlanta, GA",False,False,False,False,False,False
3,Data Analyst,Operation HOPE,department: program operationsposition locatio...,"Atlanta, GA 30303",False,False,False,False,False,False
4,Assistant Professor -TT - Signal Processing & ...,Emory University,description\nthe emory university department o...,"Atlanta, GA",False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
6959,Data Developer / Machine Learning Analyst,NetApp,are you data-driven? we at netapp believe in t...,"Sunnyvale, CA",False,False,False,False,False,True
6960,Scientist I,"Pharmacyclics, an Abbvie Company",pharmacyclics is committed to the development ...,"Sunnyvale, CA",True,False,False,False,False,False
6961,Intern Scientist,Oath Inc,"oath, a subsidiary of verizon, is a values-led...","Sunnyvale, CA",False,False,False,False,False,False
6962,Senior Data & Applied Scientist,Microsoft,we are the bing core relevance team responsibl...,"Sunnyvale, CA",True,True,False,False,False,False
6963,"Principal Data Scientist, Deep Learning",Comcast,comcast’s technology &amp; product organizatio...,"Sunnyvale, CA 94089",True,False,False,False,False,False

In [27]:
years = ["2", "3", "4", "5", "10" ]
# list comprehension
experience = [f'{x} years' for x in years]
experience.append('1 year')
print(experience)
for years in experience:
    data[f'has_{years}'] = data['description'].str.contains(years, regex=False)

['2 years', '3 years', '4 years', '5 years', '10 years', '1 year']

In [28]:
degreesneed = ['bachelor', 'master', 'phd ', 'msc ', 'ba ','bsc ', 'b.s ', 'ph.d ', 'b.s.', 'b.a ']
for skill in degreesneed:
    data[f'has_{skill}'] = data['description'].str.contains(skill, regex=False)

In [29]:
hard_skills = ['python', 'sql', 'power bi', 'excel', 'tableau', 'java', 'c++']
for skill in hard_skills:
    data[f'has_{skill}'] = data['description'].str.contains(skill, regex=False)

In [31]:
# removing the zips from location
import re
# Replace digits in column with nothing
data['location'] = [re.sub("\d", "", str(x)) for x in data['location']]
# strip leading and trailing spaces
data['location'] = data['location'].str.strip()

In [32]:
data.head()

,position,company,description,location,communication skills,problem solving,attention to detail,interpersonal skills,decision making,teamwork,...,has_ph.d,has_b.s.,has_b.a,has_python,has_sql,has_power bi,has_excel,has_tableau,has_java,has_c++
0,Development Director,ALS TDI,development director\nals therapy development ...,"Atlanta, GA",False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"job description\n\n""the road that leads to acc...","Atlanta, GA",True,False,False,True,False,False,...,False,False,False,False,False,False,True,False,False,False
2,Data Scientist,Xpert Staffing,"growing company located in the atlanta, ga are...","Atlanta, GA",False,False,False,False,False,False,...,False,False,False,True,True,False,False,True,True,True
3,Data Analyst,Operation HOPE,department: program operationsposition locatio...,"Atlanta, GA",False,False,False,False,False,False,...,False,False,False,True,True,False,False,True,False,False
4,Assistant Professor -TT - Signal Processing & ...,Emory University,description\nthe emory university department o...,"Atlanta, GA",False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [34]:
data['location'].str.split(',', expand=True)

              0    1
0       Atlanta   GA
1       Atlanta   GA
2       Atlanta   GA
3       Atlanta   GA
4       Atlanta   GA
...         ...  ...
6959  Sunnyvale   CA
6960  Sunnyvale   CA
6961  Sunnyvale   CA
6962  Sunnyvale   CA
6963  Sunnyvale   CA

[6964 rows x 2 columns]

In [35]:
# adding city and state
data[['City', 'State']] = data['location'].str.split(',', expand=True)

In [36]:
data

,position,company,description,location,communication skills,problem solving,attention to detail,interpersonal skills,decision making,teamwork,...,has_b.a,has_python,has_sql,has_power bi,has_excel,has_tableau,has_java,has_c++,City,State
0,Development Director,ALS TDI,development director\nals therapy development ...,"Atlanta, GA",False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,Atlanta,GA
1,An Ostentatiously-Excitable Principal Research...,The Hexagon Lavish,"job description\n\n""the road that leads to acc...","Atlanta, GA",True,False,False,True,False,False,...,False,False,False,False,True,False,False,False,Atlanta,GA
2,Data Scientist,Xpert Staffing,"growing company located in the atlanta, ga are...","Atlanta, GA",False,False,False,False,False,False,...,False,True,True,False,False,True,True,True,Atlanta,GA
3,Data Analyst,Operation HOPE,department: program operationsposition locatio...,"Atlanta, GA",False,False,False,False,False,False,...,False,True,True,False,False,True,False,False,Atlanta,GA
4,Assistant Professor -TT - Signal Processing & ...,Emory University,description\nthe emory university department o...,"Atlanta, GA",False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,Atlanta,GA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6959,Data Developer / Machine Learning Analyst,NetApp,are you data-driven? we at netapp believe in t...,"Sunnyvale, CA",False,False,False,False,False,True,...,False,True,True,False,True,True,True,False,Sunnyvale,CA
6960,Scientist I,"Pharmacyclics, an Abbvie Company",pharmacyclics is committed to the development ...,"Sunnyvale, CA",True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,Sunnyvale,CA
6961,Intern Scientist,Oath Inc,"oath, a subsidiary of verizon, is a values-led...","Sunnyvale, CA",False,False,False,False,False,False,...,False,True,True,False,False,False,True,True,Sunnyvale,CA
6962,Senior Data & Applied Scientist,Microsoft,we are the bing core relevance team responsibl...,"Sunnyvale, CA",True,True,False,False,False,False,...,False,False,False,False,False,False,True,True,Sunnyvale,CA
6963,"Principal Data Scientist, Deep Learning",Comcast,comcast’s technology &amp; product organizatio...,"Sunnyvale, CA",True,False,False,False,False,False,...,False,True,True,False,True,False,True,True,Sunnyvale,CA

In [37]:
value_counts = data['position'].value_counts().to_dict()

In [38]:
data['position'] = data['position'].astype(str).str.lower()

In [39]:
data

,position,company,description,location,communication skills,problem solving,attention to detail,interpersonal skills,decision making,teamwork,...,has_b.a,has_python,has_sql,has_power bi,has_excel,has_tableau,has_java,has_c++,City,State
0,development director,ALS TDI,development director\nals therapy development ...,"Atlanta, GA",False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,Atlanta,GA
1,an ostentatiously-excitable principal research...,The Hexagon Lavish,"job description\n\n""the road that leads to acc...","Atlanta, GA",True,False,False,True,False,False,...,False,False,False,False,True,False,False,False,Atlanta,GA
2,data scientist,Xpert Staffing,"growing company located in the atlanta, ga are...","Atlanta, GA",False,False,False,False,False,False,...,False,True,True,False,False,True,True,True,Atlanta,GA
3,data analyst,Operation HOPE,department: program operationsposition locatio...,"Atlanta, GA",False,False,False,False,False,False,...,False,True,True,False,False,True,False,False,Atlanta,GA
4,assistant professor -tt - signal processing & ...,Emory University,description\nthe emory university department o...,"Atlanta, GA",False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,Atlanta,GA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6959,data developer / machine learning analyst,NetApp,are you data-driven? we at netapp believe in t...,"Sunnyvale, CA",False,False,False,False,False,True,...,False,True,True,False,True,True,True,False,Sunnyvale,CA
6960,scientist i,"Pharmacyclics, an Abbvie Company",pharmacyclics is committed to the development ...,"Sunnyvale, CA",True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,Sunnyvale,CA
6961,intern scientist,Oath Inc,"oath, a subsidiary of verizon, is a values-led...","Sunnyvale, CA",False,False,False,False,False,False,...,False,True,True,False,False,False,True,True,Sunnyvale,CA
6962,senior data & applied scientist,Microsoft,we are the bing core relevance team responsibl...,"Sunnyvale, CA",True,True,False,False,False,False,...,False,False,False,False,False,False,True,True,Sunnyvale,CA
6963,"principal data scientist, deep learning",Comcast,comcast’s technology &amp; product organizatio...,"Sunnyvale, CA",True,False,False,False,False,False,...,False,True,True,False,True,False,True,True,Sunnyvale,CA

In [ ]:
# adding the positions

In [40]:
positions = ['machine learning engineer', 'data scientist', 'research analyst', 'data analyst', 'data engineer', 'research scientist' ]
for position in positions:
    data[position] = data['position'].str.contains(position, regex=False)

In [41]:
data

,position,company,description,location,communication skills,problem solving,attention to detail,interpersonal skills,decision making,teamwork,...,has_java,has_c++,City,State,machine learning engineer,data scientist,research analyst,data analyst,data engineer,research scientist
0,development director,ALS TDI,development director\nals therapy development ...,"Atlanta, GA",False,False,False,False,False,False,...,False,False,Atlanta,GA,False,False,False,False,False,False
1,an ostentatiously-excitable principal research...,The Hexagon Lavish,"job description\n\n""the road that leads to acc...","Atlanta, GA",True,False,False,True,False,False,...,False,False,Atlanta,GA,False,False,False,False,False,False
2,data scientist,Xpert Staffing,"growing company located in the atlanta, ga are...","Atlanta, GA",False,False,False,False,False,False,...,True,True,Atlanta,GA,False,True,False,False,False,False
3,data analyst,Operation HOPE,department: program operationsposition locatio...,"Atlanta, GA",False,False,False,False,False,False,...,False,False,Atlanta,GA,False,False,False,True,False,False
4,assistant professor -tt - signal processing & ...,Emory University,description\nthe emory university department o...,"Atlanta, GA",False,False,False,False,False,False,...,False,False,Atlanta,GA,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6959,data developer / machine learning analyst,NetApp,are you data-driven? we at netapp believe in t...,"Sunnyvale, CA",False,False,False,False,False,True,...,True,False,Sunnyvale,CA,False,False,False,False,False,False
6960,scientist i,"Pharmacyclics, an Abbvie Company",pharmacyclics is committed to the development ...,"Sunnyvale, CA",True,False,False,False,False,False,...,False,False,Sunnyvale,CA,False,False,False,False,False,False
6961,intern scientist,Oath Inc,"oath, a subsidiary of verizon, is a values-led...","Sunnyvale, CA",False,False,False,False,False,False,...,True,True,Sunnyvale,CA,False,False,False,False,False,False
6962,senior data & applied scientist,Microsoft,we are the bing core relevance team responsibl...,"Sunnyvale, CA",True,True,False,False,False,False,...,True,True,Sunnyvale,CA,False,False,False,False,False,False
6963,"principal data scientist, deep learning",Comcast,comcast’s technology &amp; product organizatio...,"Sunnyvale, CA",True,False,False,False,False,False,...,True,True,Sunnyvale,CA,False,True,False,False,False,False

In [44]:
data['description'] = data['description'].str.replace('.', '')
data['description'] = data['description'].str.replace(',', '')
data['description'] = data['description'].str.replace(';', '')

In [45]:
data

,position,company,description,location,communication skills,problem solving,attention to detail,interpersonal skills,decision making,teamwork,...,has_java,has_c++,City,State,machine learning engineer,data scientist,research analyst,data analyst,data engineer,research scientist
0,development director,ALS TDI,development director\nals therapy development ...,"Atlanta, GA",False,False,False,False,False,False,...,False,False,Atlanta,GA,False,False,False,False,False,False
1,an ostentatiously-excitable principal research...,The Hexagon Lavish,"job description\n\n""the road that leads to acc...","Atlanta, GA",True,False,False,True,False,False,...,False,False,Atlanta,GA,False,False,False,False,False,False
2,data scientist,Xpert Staffing,growing company located in the atlanta ga area...,"Atlanta, GA",False,False,False,False,False,False,...,True,True,Atlanta,GA,False,True,False,False,False,False
3,data analyst,Operation HOPE,department: program operationsposition locatio...,"Atlanta, GA",False,False,False,False,False,False,...,False,False,Atlanta,GA,False,False,False,True,False,False
4,assistant professor -tt - signal processing & ...,Emory University,description\nthe emory university department o...,"Atlanta, GA",False,False,False,False,False,False,...,False,False,Atlanta,GA,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6959,data developer / machine learning analyst,NetApp,are you data-driven? we at netapp believe in t...,"Sunnyvale, CA",False,False,False,False,False,True,...,True,False,Sunnyvale,CA,False,False,False,False,False,False
6960,scientist i,"Pharmacyclics, an Abbvie Company",pharmacyclics is committed to the development ...,"Sunnyvale, CA",True,False,False,False,False,False,...,False,False,Sunnyvale,CA,False,False,False,False,False,False
6961,intern scientist,Oath Inc,oath a subsidiary of verizon is a values-led c...,"Sunnyvale, CA",False,False,False,False,False,False,...,True,True,Sunnyvale,CA,False,False,False,False,False,False
6962,senior data & applied scientist,Microsoft,we are the bing core relevance team responsibl...,"Sunnyvale, CA",True,True,False,False,False,False,...,True,True,Sunnyvale,CA,False,False,False,False,False,False
6963,"principal data scientist, deep learning",Comcast,comcast’s technology &amp product organization...,"Sunnyvale, CA",True,False,False,False,False,False,...,True,True,Sunnyvale,CA,False,True,False,False,False,False

In [46]:
# finally searching for R
r = [' r ']
for skill in r:
    data[f'has_{skill}'] = data['description'].str.contains(skill, regex=False)

In [47]:
data

,position,company,description,location,communication skills,problem solving,attention to detail,interpersonal skills,decision making,teamwork,...,has_c++,City,State,machine learning engineer,data scientist,research analyst,data analyst,data engineer,research scientist,has_ r
0,development director,ALS TDI,development director\nals therapy development ...,"Atlanta, GA",False,False,False,False,False,False,...,False,Atlanta,GA,False,False,False,False,False,False,False
1,an ostentatiously-excitable principal research...,The Hexagon Lavish,"job description\n\n""the road that leads to acc...","Atlanta, GA",True,False,False,True,False,False,...,False,Atlanta,GA,False,False,False,False,False,False,False
2,data scientist,Xpert Staffing,growing company located in the atlanta ga area...,"Atlanta, GA",False,False,False,False,False,False,...,True,Atlanta,GA,False,True,False,False,False,False,True
3,data analyst,Operation HOPE,department: program operationsposition locatio...,"Atlanta, GA",False,False,False,False,False,False,...,False,Atlanta,GA,False,False,False,True,False,False,True
4,assistant professor -tt - signal processing & ...,Emory University,description\nthe emory university department o...,"Atlanta, GA",False,False,False,False,False,False,...,False,Atlanta,GA,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6959,data developer / machine learning analyst,NetApp,are you data-driven? we at netapp believe in t...,"Sunnyvale, CA",False,False,False,False,False,True,...,False,Sunnyvale,CA,False,False,False,False,False,False,False
6960,scientist i,"Pharmacyclics, an Abbvie Company",pharmacyclics is committed to the development ...,"Sunnyvale, CA",True,False,False,False,False,False,...,False,Sunnyvale,CA,False,False,False,False,False,False,True
6961,intern scientist,Oath Inc,oath a subsidiary of verizon is a values-led c...,"Sunnyvale, CA",False,False,False,False,False,False,...,True,Sunnyvale,CA,False,False,False,False,False,False,False
6962,senior data & applied scientist,Microsoft,we are the bing core relevance team responsibl...,"Sunnyvale, CA",True,True,False,False,False,False,...,True,Sunnyvale,CA,False,False,False,False,False,False,False
6963,"principal data scientist, deep learning",Comcast,comcast’s technology &amp product organization...,"Sunnyvale, CA",True,False,False,False,False,False,...,True,Sunnyvale,CA,False,True,False,False,False,False,False

In [48]:
data=data.drop(['description'], axis=1)

In [49]:
data=data.drop(['location'], axis=1)

In [50]:
data.to_csv(r'datafilt.csv', index = False, header = True)